node_modules
**/node_modules
**/dist
**/.tsbuildinfo
**/*.tsbuildinfo
**/.next
**/coverage
**/.nyc_output
**/logs
**/*.log
.git
.gitignore
.github
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
docker-compose.override.yml
docker-compose.dev.yml
README.md
**/test
**/*.test.ts
**/*.test.tsx
**/__tests__
